*{
    font-family: 'Playfair Display' Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

button{
    width: 300px;
    height:55px;
    border-radius: 10px;
    background:#4093F7;
    transition: 0.2s;
}

span{
    color: white;
    font-size: 20px;
    display: none;
}

button :nth-child(1){
    display:block;
}

.clicked{
    background: #BBBBBB;
}

.clicked :nth-child(1){
    display: none;
}

.clicked :nth-child(2){
    display:block;
}